.productCard .textPart{
    transition: transform 0.3s ease-out;
}

.productCard:hover .textPart{
transform: translateY(-1rem);
}

.productCard:hover{
    box-shadow: 2px 5px 10px 4px rgba(0,0,0,0.2);
}